:root {
  --red: #fe8888;
  --green: #43c160;
  --blue: #7cb5ec;
  --gold: #ffd85a;
  --orange: #fda23c;
  --transparent-line: rgba(230, 141, 141, 0.03);
}

main { margin: 0 1rem; }
h1, h2, h3, h4, h5, h6 { white-space: pre-wrap; word-wrap: break-word; }
td { font-family: monospace; font-size: 0.9em; position: relative; }
table tr:nth-child(2n) { background-color: #fdfdfd; }
table table { margin: 0; }
table tbody th { text-align: left; }

pre.id { white-space: pre-wrap; word-break: break-all; overflow: auto; }
.closed { background: var(--red) !important; }
.closed:target { border-left: 25px rgba(255, 255, 255, 0.6) solid }
.bar {
  display: inline-block;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
}
*:hover > .bar { z-index: -1; }
.highcharts-credits { display: none; }

.flex-col {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}
