<!doctype html>

<meta charset=utf-8>
<title>{% block title %}{% endblock title %}ln.bigsun.xyz</title>
<meta name=description content="{% block description %}A compendium of historical data about the Lightning Network nodes and channels.{% endblock description %}">
<link rel=stylesheet href=https://unpkg.com/style.css@1.0.0/style.css>
<link rel=stylesheet href=https://unpkg.com/top-bar.css@2.0.0/top-bar.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/css/highcharts.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.css>
<link rel=stylesheet href=/static/style.css>
<script src=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/highcharts.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/highcharts-more.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/modules/boost.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/modules/parallel-coordinates.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.js></script>

<nav class="top-bar">
  <a href="/" class="top-bar-title">ln.bigsun.xyz</a>
  <input id="search" placeholder="search node id or name, channel id or block">

  <div class="top-bar-right">
    <a href="/static/lnchannels.db" class="top-bar-link">download all data</a>
    <a href="https://twitter.com/fiatjaf" class="top-bar-link">@fiatjaf</a>
  </div>
</nav>

<div id="searchresults"></div>

<main>
{% block body %}
{% endblock body %}
</main>

{% if stats %}<script>window.stats = {{ stats | safe | json_encode() }}</script>{% endif %}
<script src="/static/app.js"></script>
