<!doctype html>

<meta charset=utf-8>
<title>lnchannels.alhur.es</title>
<meta name=description content="A compendium of Lightning Network channels useful statistics.">
<link rel=stylesheet href=https://unpkg.com/style.css>
<link rel=stylesheet href=https://unpkg.com/top-bar.css>
<link rel=stylesheet href=https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/css/highcharts.css>
<link rel=stylesheet href=/static/style.css>
<script src=https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.2/highcharts.js></script>

<nav class="top-bar">
  <a href="/" class="top-bar-title">lnchannels.alhur.es</a>

  <div class="top-bar-right">
    <a href="/static/channels.db" class="top-bar-link">download all data</a>
    <a href="https://twitter.com/fiatjaf" class="top-bar-link">@fiatjaf</a>
  </div>
</nav>

<main>
{% block body %}
{% endblock body %}
</main>

<script src="/static/charts.js"></script>
